h1,h2{
    color:violet;
    background-color: brown;
}


p{
    color: red;
    background-color: blue;
}

#unique{
    color: black;
    background-color: yellow;
}

.para{
    color: blue;
    background-color: orange;
}

div p{
    color: green;
    background-color: black;
}

*{
    font-family:monospace;
}